# API docs - DEPRECATED
This is version 2 of the Cloud Foundry notifications API and is no longer supported. Please use [version 1](/V1_API.md)
Integrate with this API in order to send messages to developers and billing contacts in your CF deployment.

## Authorization Tokens
See [here](https://github.com/cloudfoundry/uaa/blob/master/docs/UAA-Tokens.md) for more information about UAA tokens.

## Table of Contents{{range $resource := .Resources}}
* {{$resource.Name}}{{range $endpoint := $resource.Endpoints}}
  * [{{$endpoint.Description}}](#{{$endpoint.Key}}){{end}}{{end}}
{{range $resource := .Resources}}
## {{$resource.Name}}
{{$resource.Description}}{{range $endpoint := $resource.Endpoints}}
<a name="{{$endpoint.Key}}"></a>
### {{$endpoint.Description}}
#### Request **{{$endpoint.Method}}** {{$endpoint.Path}}{{if $endpoint.RequiredScopes}}
##### Required Scopes
```
{{$endpoint.RequiredScopes}}
```{{end}}
##### Headers
```{{range $requestHeader := $endpoint.RequestHeaders}}
{{$requestHeader}}{{end}}
```{{if $endpoint.RequestBody}}
##### Body
```
{{$endpoint.RequestBody}}
```{{end}}
#### Response {{$endpoint.ResponseStatus}}
##### Headers
```{{range $responseHeader := $endpoint.ResponseHeaders}}
{{$responseHeader}}{{end}}
```{{if $endpoint.ResponseBody}}
##### Body
```
{{$endpoint.ResponseBody}}
```{{end}}
{{end}}
{{end}}
