FORMAT: 1A

# Notifications API
This is version 2 of the Cloud Foundry notifications API. Integrate with this api in order to send messages to developers and billing contacts in your CF deployment.

# Data Structures

{{ range $resource, $resourceEntry := .Resources }}

# Group {{.ListResourceName}}
Some description of the {{.ListResourceName}}

## {{.ItemResourceName}} List [/{{$resource}}]
Some description of the {{.ItemResourceName}} list

{{ range $index, $methodEntry := .ListMethodEntries }}

### {{ $methodEntry.Verb }} {{$resourceEntry.ListResourceName}} [{{ $methodEntry.Verb }}]
{{ $methodEntry.Description }}

+ Request

    + Headers

{{ range $key, $values := $methodEntry.Request.Headers }}
{{ range $index, $value := $values }}
            {{ $key }}: {{ $value }}
{{ end }}
{{ end }}

    + Body

            {{$methodEntry.Request.Body}}

{{ range $index, $response := $methodEntry.Responses }}
+ Response {{$response.Code}}

    + Headers

{{ range $key, $values := $response.Headers }}
{{ range $index, $value := $values }}
            {{ $key }}: {{ $value }}
{{ end }}
{{ end }}

    + Body

            {{$response.Body}}
{{ end }}

{{ end }}

## {{.ItemResourceName}} [/{{$resource}}/{id}]
Some description of the {{.ItemResourceName}}

+ Parameters

	+ id: `68a5sdf67` (required, string) - The {{.ItemResourceName}} ID

{{ range $index, $methodEntry := .ItemMethodEntries }}

### {{ $methodEntry.Verb }} {{$resourceEntry.ItemResourceName}} [{{ $methodEntry.Verb }}]
{{ $methodEntry.Description }}

+ Request

    + Headers

{{ range $key, $values := $methodEntry.Request.Headers }}
{{ range $index, $value := $values }}
            {{ $key }}: {{ $value }}
{{ end }}
{{ end }}

    + Body

            {{$methodEntry.Request.Body}}

{{ range $index, $response := $methodEntry.Responses }}
+ Response {{$response.Code}}

    + Headers

{{ range $key, $values := $response.Headers }}
{{ range $index, $value := $values }}
            {{ $key }}: {{ $value }}
{{ end }}
{{ end }}

    + Body

            {{$response.Body}}
{{ end }}

{{ end }}

{{ end }}
